* {
    box-sizing: border-box;
}

/* SETUP */

/* vars */

:root {
    /* pallete */
    --clr0: #ffffff;
    --clr1: #292929;
    --clr2: #58c93a;
    --clr3: #1d1d1d;
    --clr4: #e1e0e0;
    --clr5: #4f4e4e;
    --clr6: #606060;

    /* layout */
    --inner-padding: 260px;
    /* --middle-padding: 30px; */

    /* bp */
    --s: 600px;
    --m: 900px;
    --l: 1500px;
}

/* BASE */

/* typography */

@font-face {
    font-family: inconsolata;
    src: url(../fonts/Eurofurenceregular/eurof55.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

/* basics */

html {
    font-family: Lato, sans-serif;
    background-color: var(--clr0)
}

body {
    border: 1px solid #e1e0e0;
    margin: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.7em;
    font-weight: 700;
    /* line-height: 1.4; */
}

h1 {
    font-size: 1.75em;
    text-transform: uppercase;
}

p {
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

/* layouts */

.main-layout>*:not(.full) {
    /* max-width: 1500px;
    margin: 0 auto; */

    margin-left: var(--inner-padding);
    margin-right: var(--inner-padding);

    /* margin-left: 14rem;
    margin-right: 14rem; */
    /* width: 980px; */
}

/* cards */

/* .card-layout {
    display: flex;
    flex-wrap: wrap;
} */



/* COMPONENTS */



/* screens */

.main-screen {
    position: fixed;
    inset: 0;
    background-color: #000;
    background-color: rgb(0 0 0 / 70%);
    cursor: pointer;
    pointer-events: none;

    opacity: 0;

    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}


/* header */

.main-header {
    height: 135px;
    box-shadow: inset 0 -6px 0 var(--clr3);
    background-color: var(--clr1);

}

.main-header .main-nav a {
    color: inherit;
    text-decoration: none;
    color: var(--clr0);
    /* padding: 32px; */
    display: block;
    width: 130px;
    height: 130px;
    text-align: center;
    padding-top: 60px;
    border-left: 0.5px solid var(--clr3);
    border-right: 0.5px solid var(--clr3);
}

.main-header .main-nav a:hover {
    color: var(--clr2);
    /* border-bottom: var(--clr2) solid 2px; */
    box-shadow: inset 0 -6px 0 var(--clr2);

}

.main-header .main-nav a:focus {
    color: var(--clr2);
    /* border-bottom: var(--clr2) solid 2px; */
    box-shadow: inset 0 -6px 0 var(--clr2);

}

.main-header .logo {
    color: var(--clr0);
}

.main-container {
    padding-bottom: 5rem;
    border-left: 2px solid var(--clr4);
    border-right: 2px solid var(--clr4);
}



/* .card:last-child{
    padding-bottom: 5rem;
} */

.card .card-image {
    width: 468px;
    object-fit: cover;
    aspect-ratio: 1 /0.65;
}

.card .card-text-container {
    /* justify-content: flex-start; */
    /* text-align: start; */
    padding: 0 1.25rem 0 2.5rem;
}

.card .card-title {
    line-height: 1;
    color: var(--clr5);
    margin-bottom: 0;

}

.card .card-text {
    line-height: 1.5;
    color: var(--clr6);
    margin: 3.4375rem 0 3.125rem 0;
    /* padding: 1em 0 1em 0; */
}

.card .card-button {
    width: 11.5625rem;
    height: 2.5rem;
    border: 2px solid #c2c2c2;
    color: #c2c1c1;
    border-radius: 50px;
    background-color: var(--clr0);
}

.card .card-button:hover {
    cursor: pointer;
    border: 2px solid var(--clr2);
    color: var(--clr2);
    width: 13.125rem;
}

.card .card-button:hover:after {
    content: ' →';
}

/* logo */

.logo {
    font-family: inconsolata, sans-serif;
    font-size: 2.5rem;
}

.logo span {
    color: var(--clr2);
}

/* prev-next */

.container-prev-next {
    border: 2px solid var(--clr4);
    padding: 1.875rem;
}

.container-prev-next a {
    color: #818181;
    font-size: 1.125rem;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}

.container-prev-next a:hover {
    color: var(--clr2);
}

/* footer */

.main-footer {
    height: 19.6875rem;
    background-color: #f8f8f8;
    text-align: center;
    padding: 5rem 0;
}

small {
    color: #a6a6a6;
    margin: 2.5rem 0;
}

small a {
    font-weight: 700;
    text-decoration: none;
    color: #a6a6a6;
}

small a:hover {
    color: var(--clr2);
}

.social-links li {
    margin: 1rem;
}

.social-links a {
    filter: grayscale(100%);
    opacity: 0.5;
}

.social-links a:hover {
    filter: grayscale(0%);
    opacity: 1;
}

.icon {
    width: 2.5rem;
}


/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex.align-center {
    align-items: center;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.flex-direction {
    flex-direction: column;
}

.flex.justify-center {
    justify-content: center;
}



/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* Media Queries */

/* MOBILE ONLY */

@media (max-width: 740px) {

    .main-header {
        position: sticky;
        top: 0;
    }

    .main-nav ul {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        background: rgb(0 0 0 / 70%);
        /* border-inline-start: 1px solid #ccc; */
        min-width: 200px;
        transform: translateX(100%);


        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open .main-nav ul {
        transform: translateX(0);
        box-shadow: -6px 0px 14px rgb(0 0 0 / 20%);
   
    }

    /* .menu-open .menu-toggle-btn {
        visibility: hidden;
        contain: 'X';
    } */

    .main-header .main-nav a {
        display: block;
        text-align: center;
        /* padding: 13px 10px; */
        /* border-bottom: 1px solid #ccc; */
        /* background-color: #fff; */

        transition: background-color .6s;
    }


    .main-header .main-nav a:hover {
        color: var(--clr2);
        /* border-left: var(--clr2) solid 2px; */
        box-shadow: inset 6px 0 var(--clr2);

    }

    .main-header .main-nav a:focus {
        color: var(--clr2);
        /* border-bottom: var(--clr2) solid 2px; */
        box-shadow: inset 6px 0 var(--clr2);

    }

    .menu-toggle-btn {
        background-color: transparent;
        border: none;
        color: var(--clr0);
        font-size: 1.875rem;
        /* position: sticky; */
    }

    .main-layout>*:not(.full) {
        max-width: var(--s);
        margin-left: auto;
        margin-right: auto;
    }

    .main-container {
        /* padding: 0; */
        padding-top: 1.25rem;
        /* margin: 0; */
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .card .card-image {
        width: 80%;
        /* margin-bottom: 1.71428em; */
        object-fit: cover;
        aspect-ratio: 1 /0.65;
    }

    .card .card-text-container {
        /* justify-content: flex-start; */
        /* text-align: start; */
        padding: 1.25rem 2.5rem;
    }


    .card .card-title {
        line-height: 1;
        color: var(--clr5);
        margin-bottom: 0;

    }

    .card .card-text {
        line-height: 1.5;
        color: var(--clr6);
        margin: 10px 0;
        /* margin: 3.4375rem 0 3.125rem 0; */
        /* padding: 1em 0 1em 0; */
    }

    .card .card-button {
        width: 11.5625rem;
        height: 2.5rem;
        border: 2px solid #c2c2c2;
        color: #c2c1c1;
        border-radius: 50px;
        background-color: var(--clr0);
    }

    .card .card-button:hover {
        cursor: pointer;
        border: 2px solid var(--clr2);
        color: var(--clr2);
        width: 13.125rem;
    }

    .card .card-button:hover:after {
        content: ' →';
    }

}

/* SMALL */

@media (min-width: 740px) {
    .main-layout>*:not(.full) {
        max-width: var(--s);
        margin-left: auto;
        margin-right: auto;
    }

    .main-container {
        padding-top: 1.25rem;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card .card-text-container {
        /* justify-content: flex-start; */
        /* text-align: start; */
        padding: 1.25rem 4.0625rem;
    }

    .card .card-title {
        line-height: 1;
        color: var(--clr5);
        margin-bottom: 0;

    }

    .card .card-text {
        line-height: 1.5;
        color: var(--clr6);
        margin: 10px 0;
        /* margin: 3.4375rem 0 3.125rem 0; */
        /* padding: 1em 0 1em 0; */
    }

    .card .card-button {
        width: 11.5625rem;
        height: 2.5rem;
        border: 2px solid #c2c2c2;
        color: #c2c1c1;
        border-radius: 50px;
        background-color: var(--clr0);
    }

    .card .card-button:hover {
        cursor: pointer;
        border: 2px solid var(--clr2);
        color: var(--clr2);
        width: 13.125rem;
    }

    .card .card-button:hover:after {
        content: ' →';
    }

    .menu-toggle-btn {
        display: none;
    }

}

/* MEDIUM */

@media (min-width: 940px) {

    /* .main-layout>*:not(.full) {
        max-width: var(--m);

    } */

    .main-container {
        flex-basis: 50%;
    }




    .menu-toggle-btn {
        display: none;
    }

}


/* LARGE */

@media (min-width: 1200px) {

    .main-layout>*:not(.full) {
        margin: 0 auto;
        margin-left: var(--inner-padding);
        margin-right: var(--inner-padding);
        max-width: 93.75rem;
        max-height: 110.0625rem;

    }


    .main-container {
        /* margin-left: var(--inner-padding);
        margin-right: var(--inner-padding); */
        /* margin: 260px 0; */
        padding: 0;
        padding-bottom: 5rem;
        border-left: 2px solid var(--clr4);
        border-right: 2px solid var(--clr4);
    }


    .card {
        padding-top: 5rem;
        display: flex;
        /* align-items: center; */
        flex-direction: row;
        justify-content: space-around;

    }

    .card .card-image {
        width: 468px;
        /* height: 307px; */
        /* margin-bottom: 1.71428em; */
        object-fit: cover;
        aspect-ratio: 1 /0.65;
    }

    .card .card-text-container {
        /* justify-content: flex-start;
        text-align: start; */
        padding: 0 1.25rem 0 2.5rem;
        display: flex;
        flex-direction: column;
    }

    .card .card-title {
        line-height: 1;
        color: var(--clr5);
        margin-bottom: 0;

    }

    .card .card-text {
        line-height: 1.5;
        color: var(--clr6);
        margin: 3.75rem 0 2.8125rem 0;
        /* padding: 1em 0 1em 0; */
    }

    .card .card-button {
        width: 11.5625rem;
        height: 2.5rem;
        border: 2px solid #c2c2c2;
        color: #c2c1c1;
        border-radius: 50px;
        background-color: var(--clr0);
    }

    .card .card-button:hover {
        cursor: pointer;
        border: 2px solid var(--clr2);
        color: var(--clr2);
        width: 13.125rem;
    }

    .card .card-button:hover:after {
        content: ' →';
    }
}